@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Uttlities */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: "Poppins", sans-serif;
    color: #000000;
    overflow-x: hidden;
}
a
{
    text-decoration: none;
    color: #000000;
    padding:  10px;
    margin: 0 5px;
}
ul
{
    list-style-type: none;
}
.flex
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.f2,.f4
{
    flex-direction: row-reverse;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 40px;
}
.btn
{
    padding: 12px 25px;
    font-weight: 400;
    border-radius: 50px;
    color: #333;
    background: #FFD300;
    font-size: calc(16px + 0.4vw);
}
.btn-primary
{
    color: #F1C700;
    background: #fff;
    border: 2px solid #DDB700;
}
.btn-secondary
{
    color: #fff;
    background: #FFD300;
}
.btn-info
{
    color: #fff;
    background: #323232;
}
/* *style */
 .navbar
{ 
    height: 100px;
}
.navbar ul
{
    display: flex;
    justify-content: space-around;
}
.navbar nav
{
    width:180px;
} 
.navbar h1
{
    font-weight: 800;
    padding-top: 10px;
    font-size: calc(34px + 1.5vw);
}
.nav-link
{
    padding-top: 20px;
}
.navbar img
{
    position: absolute;
    z-index: -99999999;
    width: 400px;
    top: -140px;
    left: -150px;
    opacity: 1;
}

/* *Section */
.section
{
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    padding-top: 4rem;
}
.section .text-area h1
{
    font-size: calc(40px + 1vw);
    font-weight: 500;
}
.section .text-area h6
{
    font-size: 18px;
    font-weight: 400;
}
.section .text-area p
{
    padding: 2rem 0;
    font-size: 24px;
    font-weight: 400;
}
.section .text-area
{
    max-width: 600px;
}
.section img
{
    height: 440px;
    width: 400px;
}
.section nav 
{
    padding-top: 80px;
}
.section nav ul
{
    display: flex;
    justify-content: space-around;
}
.section nav li
{
    font-size: 28px;
}
.design-r
{
    position: absolute;
    right: -120px;
    z-index: -1;
}
.design-l
{
    position: absolute;
    z-index: -1;
    left: -100px;    
}
.section1-img
{
    padding: 20px;
}

/* Mobile Phone */
@media(max-width:500px)
{
     .container
    {
        padding: 10px 0;
        align-items: center;
        flex-direction: column;
    }
    .container ul
    {
        display: flex;
        justify-content: space-evenly;
    }
    .section
    {
        width: 60vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section .text-area
    {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section nav li
    {
        font-size: 16px;
    }
    .section nav ul
    {
        justify-content: center;
    }
    .section1-img img
    {
    width: 380px;
    }
    section .design-l,.design-r
    {
        display: none;
    }
}