@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: "Poppins", sans-serif;
    color: #000000;
}
a
{
    text-decoration: none;
    color: #000000;
}
ul
{
    
}
.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
