@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Uttlities */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: "Poppins", sans-serif;
    color: #000000;
}
a
{
    text-decoration: none;
    color: #000000;
    padding:  10px;
    margin: 0 5px;
}
ul
{
    list-style-type: none;
}
.flex
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 40px;
}
.btn
{
    padding: 12px 25px;
    font-weight: 400;
    border-radius: 50px;
    color: #333;
    background: #FFD300;
    font-size: calc(16px + 0.4vw);
}
.btn-primary
{
    color: #F1C700;
    background: #fff;
    border: 2px solid #DDB700;
}
.btn-secondary
{
    color: #fff;
    background: #FFD300;
}

/* *style */
 .navbar
{ 
    height: 100px;
}
.navbar ul
{
    display: flex;
    justify-content: space-around;
}
.navbar nav
{
    width:180px;
} 
.navbar h1
{
    font-weight: 800;
    padding-top: 10px;
    font-size: calc(34px + 1.5vw);
}
.nav-link
{
    padding-top: 20px;
}
.navbar img
{
    position: absolute;
    z-index: -99999999;
    width: 400px;
    top: -140px;
    left: -150px;
    opacity: 1;
}
.section1
{
    justify-content: center;
    align-items: center;
}


@media(max-width:500px)
{
    .container
    {
        align-items: center;
        flex-direction: column;
    }
    .container ul
    {
        display: flex;
        justify-content: space-evenly;
    }
    .section1
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}